

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 70px;
    background-image: url("../img/fondo\ desenfocado.jpg");
    background-size: 1900px 1500px;
    height: 1200px;
  }
  
  .card {
    width: 300px;
    border: 1px solid #393737;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #834907e5;
    
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card h2 {
    padding: 10px;
    margin: 0;
    color: #c6c6c5;
  }
  
  .card p {
    padding: 10px;
    margin: 0;
    color: #fff8f8;
  }
  
  .card button {
    padding: 10px;
    margin: 10px;
    background-color: #0c0c0c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /*------HEADER-------*/
  header {
    display: flex;
    justify-content:flex-end;
    align-items:center;
    padding-left: 28px;
    color: rgb(9, 8, 8);
    height: 98px;
    margin: 0px;
    background-color:rgb(21, 21, 21);
   
    
} 

.logo{
    margin-right: 300px; /*añade la margen a la derecha del logo para separarlo de otros elementos del contenedor*/
}

/* Logo imagen */
.logo img {
    width: 90px;
    height: 90px;
    transition: transform 0.3s ease, filter 0.3s ease;
    border-radius: 100%;
}

/* Estilos para el contenedor*/
 .contenedor
 {
    align-items: center;
    display:flex;
    flex-direction: column; /*distribuye los elementos en columna*/
    justify-content: 10px; /*distribuye el espacio entre los elementos*/
    width: 100%;
    max-width: 5px;
    padding: 4px;
    background-color: #ffffff;
    border-radius: px;
    box-shadow: 0 0 10px
    rgba( 0, 0, 0.1);
    gap: 20%; /*agrega los eapcios entre los elementos dentro del cont*/
    margin:4px;
}

.logo:hover img {
    transform: scale(1.1);
    filter: brightness(1.2);
}

/* Título */
header h1 {
    font-size: 2em;
    color: #6c4848;
}

/* Navegación */
nav ul {
    list-style: none;
    display: flex;
    gap: 70px;
    margin: 100px;
    padding: 0;
}

nav ul li a {
    color: rgba(246, 240, 240, 0.805);
    text-decoration: none;
    font-size: 1.5rem;
    position:relative;
    padding-bottom: 10px;
    transition: color 0.3s ease;
}

/* Barra animada en hover */
nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color:#050404;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%; /* La barra se extiende al ancho completo del enlace */
}

nav ul li a:hover {
    color:rgb(254, 246, 246); /* Cambia el color del texto al pasar el ratón */
}
 
/* Estilo para la barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar input {
    padding: 0.8px;
    font-size: 1.3em;
    border: 3px solid #0c0707;
    border-radius: 100px;
    outline: none;
    width: 150px;
    height:30px ;
}

.search-bar button {
    padding: 10px;
    font-size: 1rem;
    background-color: #f0ece8c4;
    color: rgba(10, 8, 8, 0.425);
    border: none;
    border-radius: 70px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin:20px;
}

.search-bar button:hover {
    background-color: #f5f4f366;
}


  /*--------FOOTER------*/

.footer {
    background-color: rgb(11, 11, 11);
    color: #ece8e8;
    width: 100%;
    height: 400px;
    padding: 0px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(9, 9, 9);
}

.footer-top {
    margin-bottom: 1px;
}

.footer-quote {
    font-size: 1em;
    font-style: italic;
    margin: 0;
}

.footer-divider {
    border: 0;
    border-top: 1px solid #f1f5f5;
    margin: 2px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.footer-logo img {
    margin-bottom: 1px;
    height: 60px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin: 20px 0;
}

.footer-links a {
    text-decoration: none;
    color: #f6fafa;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #908f8d;
}

.footer-social a {
    margin: 0 9px;
    display: inline-block;
}

.footer-social img {
    width: 26px;
    transition: transform 0.3s ease;
}

.footer-social img:hover {
    transform: scale(1.1);
    color: #04040484;
}

.footer-bottom {
    font-size: 1em;
    margin-top: 10px;
}